body{
    background-color: black;
}
.main{
    height: 670px;
    width: 900px;
    background-color: aqua;
    display: flex;
    margin-left: 250px;
}
.sub{
    height: 70px;
    width: 70px;
    margin: 10px;
}

.sub:nth-child(1){
    background-color: blue;
    margin-top: 300px;
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-play-state: paused;
}
.main:active > .sub:nth-child(1){
    animation-play-state: running;
}

.sub:nth-child(2){
    background-color: orangered;
    margin-left: 150px;
    animation-name: guard;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.sub:nth-child(3){
    background-color: orangered;
    margin-left: 150px;
    animation-name: guard;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.sub:nth-child(4){
    background-color: orangered;
    margin-left: 150px;
    animation-name: guard;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


@keyframes guard{
    0%{
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(590px);
    }
    100%{
        transform: translateY(-10px);
    }
}

@keyframes move{
    0%{
        transform: translateX(-10px);
    }
    50%{
        transform: translateX(820px);
    }
    100%{
        transform: translateX(-10px);
    }
}